// Directory.scss

.directory-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.directory-item {
  position: relative;
  overflow: hidden;
  width: 48%; // Adjust the width as per your design
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
